@media screen and (min-width: 320px) and (max-width: 480px) {
  * {
    font-weight: 700;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .menu {
    display: flex;
    height: 28px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-logo {
    height: 28px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    margin-left: 30px;
    list-style: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-logo.active {
    opacity: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .main-menu {
    margin-right: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .visibility.active {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .row {
    display: flex;
    margin-left: -40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .column {
    margin-left: 100px;
    margin-right: -80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  li a:hover {
    background-color: rgb(109, 171, 207);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  p {
    display: flex;
    height: 164px;
    width: 100%;
    left: 24px;
    top: 314px;
    margin-top: 58px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    text-align: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .toolbar {
    height: 12px;
    width: 100%;
    border-radius: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  h1 {
    display: flex;
    height: 0;
    width: 100%;
    left: 24px;
    top: 64px;
    padding-top: 70px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .secondtitle {
    display: flex;
    height: 70px;
    width: 100%;
    left: 24px;
    top: 0;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #36b37e;
    margin-top: 120px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .middle {
    width: 100%;
    height: 647.9967651367188px;
    left: -126.380859375px;
    top: 98.115234375px;
    border-radius: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .middle3 {
    width: 100%;
    background-image: url(images/background2.png);
    height: 647.9967651367188px;
    left: -126.380859375px;
    top: 98.115234375px;
    border-radius: 0;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  ul {
    list-style: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .disabled {
    margin-top: -60px;
    margin-left: 160px;
    margin-right: -80px;
    height: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .spacing {
    margin-top: 60px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .card1 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 400px;
    width: 100%;
    outline: 1px solid #24a1fa;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .header1 {
    width: 100%;
    background-color: #ebf0ee;
    height: 252px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .subtitle0 {
    display: flex;
    justify-content: center;
    height: 97px;
    width: 100%;
    left: 0;
    top: 0;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    margin-top: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .subtitle2 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .subtitle3 {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    padding-top: 80px;
    left: 0;
    top: 0;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text {
    display: flex;
    justify-content: center;
    height: 189px;
    width: 100%;
    left: 0;
    top: 72px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .text0 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-header2 {
    height: 57px;
    width: 295px;
    left: 16px;
    top: 16px;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
    padding-top: 130px;
    color: #344563;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .secondtitle1 {
    padding-top: 90px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .background3 {
    width: 100%;
    margin-top: 70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .java2 {
    background-color: white;
    padding: 10px;
    background-position: 20px 10px, 150px 10px;
    margin-right: 8px;
    margin-left: -10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .list1 {
    display: flex;
    margin-left: -4.5%;
    height: 30px;
    font-family: Inter, sans-serif;
    background-color: #ebf0ee;
    background-size: contain;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    border-radius: 4px;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .list3 {
    display: flex;
    width: 100%;
    margin-left: -20px;
    margin-right: -80px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .java1 {
    background-color: white;
    padding: 10px;
    background-position: 20px 10px, 150px 10px;
    margin-right: 8px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ruby1 {
    background-color: white;
    padding: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .html1 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 8px;
    color: #36b37e;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css2 {
    background-color: white;
    padding: 10px;
    margin-left: 45px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css3 {
    background-color: white;
    padding: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css4 {
    background-color: white;
    padding: 10px;
    margin-left: 105px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .mainbutton {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button {
    height: 48px;
    left: 92px;
    top: 13px;
    align-items: center;
    position: relative;
    border-radius: 4px;
    padding: 12px;
    background-color: #36b37f;
    text-align: center;
    color: white;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button :hover {
    background-color: #d0d9d4;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .card {
    display: grid;
    justify-content: center;
    grid-auto-flow: row;
    grid-gap: 30px 30px;
    font-family: inter, sans-serif;
    grid-template-rows: repeat(6, 433px);
    grid-template-columns: repeat(1, 300px);
    margin-bottom: 100px;
    border-radius: 1px 0 3px 4px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .card2 {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: 30px 30px;
    font-family: inter, sans-serif;
    grid-template-rows: repeat(6, 160px);
    grid-template-columns: repeat(1, 300px);
    margin-bottom: 1200px;
    margin-top: 350px;
    border-radius: 1px 0 3px 4px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .blank {
    display: flex;
    background-color: #ebf0ee;
    border-radius: 10px;
    height: 210px;
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .blank2 {
    display: flex;
    background-color: #ebf0ee;
    height: 352px;
    width: 100%;
    border: 1px solid #d0d9d4;
    border-radius: 10px;
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardtitle {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    padding-left: -40px;
    margin-top: 170px;
    margin-bottom: -50px;
    color: #3a4a42;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardtitle2 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 90px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardtitle0 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 125px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardtitle3 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 90px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cardtitle4 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 120px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ul1 {
    display: flex;
    width: 100%;
    gap: 7%;
    margin-left: -20px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #3a4a42;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ul2 {
    display: flex;
    width: 100%;
    margin-left: 30px;
    margin-right: -40px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ruby2 {
    height: 10px;
    margin-top: -5px;
    margin-right: -90px;
    padding: 10px;
    color: #3a4a42;
    border-radius: 10px;
    z-index: -1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ruby3 {
    width: 65px;
    margin-left: -23px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ruby4 {
    width: 63px;
    margin-left: -23px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ruby5 {
    width: 50px;
    margin-left: -33px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css6 {
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
    width: 85px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css1 {
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
    width: 40px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .terminal1 {
    width: 55px;
    margin-left: -20px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    font-family: init, sans-serif;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .css0 {
    z-index: -1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .java0 {
    z-index: -1;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .html0 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .selenium1 {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ul0 {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-right: -40px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ul3 {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-left: 90px;
    margin-right: -40px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .cards1 {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #d0d9d4;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button1 {
    display: flex;
    height: 48px;
    width: 40%;
    left: 92px;
    top: 13px;
    border-radius: 4px;
    padding: 20px;
    margin-left: 90px;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: right;
    color: white;
    background-color: #36b37f;
    margin-top: 30px;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button1 :hover {
    background-color: #d0d9d4;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50%;
    left: 12px;
    top: 12px;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-align: center;
    background-color: #36b37f;
    color: white;
    margin-left: 100px;
    margin-top: -20px;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button2 :hover {
    background-color: #d0d9d4;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .languages {
    margin-bottom: -150px;
    padding-left: 75px;
    left: 124px;
    top: 24px;
    border-radius: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .frameworks {
    margin-bottom: -150px;
    padding-left: 75px;
    left: 124px;
    top: 24px;
    border-radius: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .skills {
    margin-bottom: -150px;
    padding-left: 75px;
    left: 124px;
    top: 24px;
    border-radius: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .item2 {
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .background3 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .background4 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .background1 {
    background-image: url(images/items1.png);
    height: 400px;
    background-repeat: no-repeat;
    background-position-y: center;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-link {
    transition: 0.7s ease;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .background2 {
    background-image: url(images/items2.png);
    height: 150px;
    background-repeat: no-repeat;
    background-position-x: right;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-container {
    width: 100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-header {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-header2 {
    height: 363px;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    color: #172b4d;
    font-family: inter, sans-serif;
    font-size: 40px;
    margin-top: -1250px;
    margin-bottom: -80px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .ul1 .li {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .form-list {
    display: grid;
    flex-wrap: wrap;
    gap: 25px;
    width: 56%;
    margin-left: -30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .input-list {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .username0 {
    border-radius: 4px;
    width: 166%;
    height: 30px;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .username {
    border-radius: 4px;
    width: 166%;
    height: 30px;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .email {
    border-radius: 4px;
    width: 166%;
    height: 30px;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .textarea {
    border-radius: 4px;
    width: 165%;
    height: 110px;
    border: none;
    outline: 1px solid #60c095;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 105px;
    width: 60%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .real-button {
    padding-top: 13px;
    height: 48px;
    padding-bottom: 10px;
    border-radius: 4px;
    background-color: #36b37f;
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    border: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .row2 {
    display: flex;
    background-position-x: right;
    margin-left: -45px;
    margin-top: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .footer {
    background-image: url(images/frame.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    height: 132.37px;
    z-index: -1;
    margin-top: -70px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .myemail {
    padding-left: 90px;
    font-family: inter, sans-serif;
    height: 189px;
    color: #42526e;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hamburguer {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-menu {
    position: fixed;
    left: -130%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    width: 100%;
    height: 700px;
    text-align: left;
    transition: 0.3s;
    background-image: url(images/Overlay.png);
    background-repeat: no-repeat;
    color: #3a4a42;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-menu.active {
    left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-item {
    margin: 16px 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-main {
    height: 28px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: -20px;
    line-height: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .nav-main.active {
    display: block;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 15px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .list2 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container .model {
    display: none;
    position: fixed;
    top: 2%;
    left: 5%;
    right: 5%;
    bottom: 2%;
    background: #fff;
    border-radius: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 200vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .snap {
    display: flex;
    position: fixed;
    top: 8%;
    left: 8.5%;
    width: 83%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .close {
    margin-left: 88%;
    margin-top: 0.5%;
    background-color: #ebf0ee;
    width: 11%;
    height: 6%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .popuplist {
    display: flex;
    position: fixed;
    gap: 4%;
    top: 60%;
    left: -1%;
    font-family: Inter, sans-serif;
    color: #3a4a42;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .popuplist li {
    background-color: #ebecf0;
    padding: 4%;
    font-size: 15px;
    background-size: contain;
    font-family: inter, sans-serif;
    flex-grow: 0;
    flex-shrink: 0;
    height: 30%;
    border-radius: 5px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container p {
    display: flex;
    position: fixed;
    top: 61%;
    left: 9%;
    width: 86%;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container h3 {
    display: flex;
    position: fixed;
    width: 83%;
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    top: 40%;
    left: 10%;
    text-align: left;
    font-size: 32px;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container button {
    margin-left: -52%;
    padding: 12px 16px;
    border: none;
    background-color: #36b37f;
    color: #fff;
    border-radius: 4px;
    text-align: left;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container .button5 {
    display: flex;
    position: fixed;
    top: 85%;
    left: 60%;
    width: 40%;
    font-family: Inter, sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .model-container .button6 {
    position: fixed;
    top: 85%;
    left: 105%;
    width: 40%;
    font-family: Inter, sans-serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .icon1 {
    position: fixed;
    height: 5%;
    left: 31%;
    top: 85.5%;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .icon2 {
    position: fixed;
    height: 5%;
    left: 78%;
    top: 85.5%;
  }
}

@media screen and (min-width: 768px) {
  * {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .middle {
    background-image: url(images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu {
    display: flex;
    height: 18px;
    width: 100%;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    gap: 60px;
    list-style: none;
    color: #172b4d;
    margin-left: 300px;
    animation-name: myFade;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 3s;
  }
}

@media screen and (min-width: 768px) {
  @keyframes myFade {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-logo {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .hamburguer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
}

@media screen and (min-width: 768px) {
  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    display: flex;
    height: 0;
    width: 100%;
    left: 24px;
    top: 64px;
    padding-top: 70px;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    justify-content: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 768px) {
  .secondtitle {
    display: flex;
    height: 50px;
    width: 100%;
    left: 24px;
    top: 0;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    justify-content: center;
    color: #36b37e;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  p {
    display: flex;
    height: 104px;
    width: 100%;
    left: 24px;
    top: 314px;
    margin-top: 5px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0;
    justify-content: center;
    text-align: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 768px) {
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 5px;
    margin-left: -120px;
  }
}

@media screen and (min-width: 768px) {
  .column {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .disabled {
    display: flex;
    justify-content: center;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .subtitle2 {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    margin-top: 210px;
    color: #172b4d;
  }
}

@media screen and (min-width: 768px) {
  .card {
    display: grid;
    justify-content: center;
    width: 90%;
    grid-auto-flow: column;
    grid-gap: 80px 15px;
    font-family: inter, sans-serif;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 310px);
    margin-bottom: 280px;
    margin-top: 100px;
    row-gap: 300px;
    border-radius: 1px 0 3px 4px;
  }
}

@media screen and (min-width: 768px) {
  .cardtitle {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: -50px;
    color: #3a4a42;
    margin-top: 200px;
    margin-left: -2px;
  }
}

@media screen and (min-width: 768px) {
  .ul1 {
    display: flex;
    width: 150%;
    gap: 30px;
    margin-top: 46px;
    margin-left: -105px;
    justify-content: center;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 5px;
    letter-spacing: 0.03em;
    list-style: none;
    color: #3a4a42;
  }
}

@media screen and (min-width: 768px) {
  .blank {
    display: flex;
    background-color: #ebf0ee;
    border-radius: 10px;
    height: 210px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .ruby2 {
    width: 16%;
    margin-left: -320px;
    margin-top: -10px;
    background-color: #ebf0ee;
    z-index: -1;
    padding: 10px;
    color: #3a4a42;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .css0 {
    background-color: #ebf0ee;
    width: 4%;
    margin-left: -15px;
    margin-top: -10px;
    z-index: -1;
    padding: 10px;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .java0 {
    background-color: #ebf0ee;
    width: 14%;
    margin-left: -20px;
    margin-top: -10px;
    z-index: -1;
    padding: 10px;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .html0 {
    background-color: #ebf0ee;
    z-index: -1;
    width: 6%;
    padding: 10px;
    margin-left: -20px;
    margin-top: -7px;
    white-space: pre-line;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .model-container.show {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  .popuplist {
    display: flex;
    position: fixed;
    top: 73%;
    left: 22.5%;
    width: 25%;
    list-style: none;
    gap: 5%;
    color: #3a4a42;
    font-size: 1.2vmax;
  }
}

@media screen and (min-width: 768px) {
  .popuplist li {
    background-color: #ebecf0;
    padding: 2%;
    font-size: 14px;
    background-size: contain;
    font-family: inter, sans-serif;
    height: 30%;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .model-container p {
    display: flex;
    width: 42%;
    position: fixed;
    top: 80%;
    left: 24%;
    font-size: 1.2vmax;
  }
}

@media screen and (min-width: 768px) {
  .model-container h3 {
    text-align: left;
    left: 25%;
    top: 62%;
    width: 30%;
    font-size: 2vmax;
  }
}

@media screen and (min-width: 768px) {
  .model-container button {
    margin-left: -17%;
    padding: 12px 16px;
    border: none;
    background-color: #36b37f;
    color: #fff;
    border-radius: 4px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .model-container .button5 {
    position: fixed;
    top: 67%;
    left: 73%;
    height: 5%;
    width: 8%;
    font-family: Inter, sans-serif;
    font-size: 0.9vmax;
  }
}

@media screen and (min-width: 768px) {
  .model-container .button6 {
    position: fixed;
    top: 67%;
    left: 69%;
    height: 5%;
    width: 9%;
    margin-left: -3%;
    margin-right: 1%;
    font-family: Inter, sans-serif;
    font-size: 0.8vmax;
  }
}

@media screen and (min-width: 768px) {
  .cards1 {
    display: flex;
    outline: 1px solid #d0d9d4;
    border-radius: 10px;
    height: 420px;
  }
}

@media screen and (min-width: 768px) {
  .button1 {
    display: flex;
    height: 48px;
    width: 34%;
    left: 92px;
    top: 13px;
    border-radius: 4px;
    padding: 12px;
    margin-left: 100px;
    align-items: center;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: white;
    background-color: #36b37f;
    margin-top: 30px;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .subtitle3 {
    display: flex;
    justify-content: center;
    height: 48px;
    width: 100%;
    padding-top: 80px;
    left: 0;
    top: 0;
    font-family: Inter, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: center;
    color: #172b4d;
  }
}

@media screen and (min-width: 768px) {
  .text {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .text0 {
    display: flex;
    justify-content: center;
    height: 189px;
    width: 100%;
    left: 0;
    top: 72px;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .card2 {
    display: grid;
    justify-content: center;
    width: 92%;
    grid-auto-flow: column;
    grid-gap: 80px 15px;
    font-family: inter, sans-serif;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 310px);
    margin-bottom: 100px;
    margin-top: 80px;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .blank2 {
    display: flex;
    width: 100%;
    background-color: #ebf0ee;
    height: 352px;
    outline: 1px solid #d0d9d4;
    border-radius: 10px;
    margin-bottom: -50px;
  }
}

@media screen and (min-width: 768px) {
  .main-button2 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .button2 {
    font-size: 15px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background-color: #36b37f;
    border: none;
  }
}

@media screen and (min-width: 768px) {
  .button2 :hover {
    background-color: #d0d9d4;
  }
}

@media screen and (min-width: 768px) {
  .languages {
    margin-bottom: -150px;
    padding-left: 85px;
    left: 124px;
    top: 24px;
    border-radius: 0;
  }
}

@media screen and (min-width: 768px) {
  .cardtitle2 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 20px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 768px) {
  .cardtitle0 {
    display: flex;
    align-items: center;
    font-family: Inter, sans-serif;
    padding-left: 20px;
    margin-top: 120px;
    margin-bottom: -50px;
    color: #344563;
  }
}

@media screen and (min-width: 768px) {
  .ul0 {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-right: -40px;
    margin-top: 30px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .ruby3 {
    width: 65px;
    margin-left: -15px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .ruby4 {
    width: 63px;
    margin-left: -13px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .ruby5 {
    width: 50px;
    margin-left: -25px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .css6 {
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
    width: 85px;
  }
}

@media screen and (min-width: 768px) {
  .css1 {
    background-color: white;
    padding: 10px;
    color: #36b37e;
    border-radius: 10px;
    width: 40px;
  }
}

@media screen and (min-width: 768px) {
  .java1 {
    background-color: white;
    padding: 10px;
    background-position: 20px 10px, 150px 10px;
    margin-right: 8px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .ul2 {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-left: 30px;
    margin-right: -40px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .html1 {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin-right: 8px;
    color: #36b37e;
  }
}

@media screen and (min-width: 768px) {
  .ul3 {
    display: flex;
    width: 100%;
    gap: 5px;
    margin-left: 90px;
    margin-right: -40px;
    font-family: Inter, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.03em;
    list-style: none;
  }
}

@media screen and (min-width: 768px) {
  .terminal1 {
    width: 55px;
    margin-left: -20px;
    background-color: white;
    padding: 10px;
    color: #36b37e;
    font-family: init, sans-serif;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .css0 {
    background-color: #ebf0ee;
    padding: 10px;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .java0 {
    background-color: #ebf0ee;
    padding: 10px;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .html0 {
    background-color: #ebf0ee;
    padding: 10px;
    margin-right: 10px;
    white-space: pre-line;
    color: #3a4a42;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .selenium1 {
    background-color: white;
    padding: 10px;
    margin-right: 10px;
    color: #36b37e;
    border-radius: 10px;
  }
}

@media screen and (min-width: 768px) {
  .form-header {
    display: flex;
    height: 363px;
    width: 50%;
    text-align: left;
    float: left;
    left: 0;
    top: 0;
    color: #172b4d;
    font-family: inter, sans-serif;
    font-size: 30px;
    margin-bottom: -420px;
    margin-left: 9%;
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .form-header2 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .form-list {
    display: grid;
    position: sticky;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
    width: 50%;
    list-style: none;
    margin-left: 500px;
  }
}

@media screen and (min-width: 768px) {
  .username {
    border-radius: 4px;
    width: 100%;
    height: 30px;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .username1 {
    border-radius: 4px;
    height: 30px;
    width: 46%;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .username2 {
    display: inline;
    margin-left: 30px;
    border-radius: 4px;
    height: 30px;
    width: 46%;
    border: none;
    outline: 1px solid #d0d9d4;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
  }
}

@media screen and (min-width: 768px) {
  .username0 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .input-list {
    border-radius: 4px;
    display: flex;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .textarea {
    border-radius: 4px;
    width: 100%;
    height: 110px;
    border: none;
    outline: 1px solid #60c095;
    font-family: inter, sans-serif;
    color: #6b778c;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .button-container {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 400px;
  }
}

@media screen and (min-width: 768px) {
  .real-button {
    font-size: 15px;
    height: 48px;
    border-radius: 4px;
    color: #fff;
    background-color: #36b37f;
    border: none;
    margin-left: -320px;
  }
}

@media screen and (min-width: 768px) {
  .row2 {
    display: flex;
    justify-content: center;
    margin-top: 320px;
    width: 100%;
    gap: 5px;
    margin-left: -100px;
  }
}

@media screen and (min-width: 768px) {
  .background1 {
    background-image: url(images/item1.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 200px;
  }
}

@media screen and (min-width: 768px) {
  .background2 {
    background-image: url(images/item2.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 200px;
  }
}

@media screen and (min-width: 768px) {
  .background3 {
    background-image: url(images/item3.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 200px;
    margin-top: -480px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .form1 {
    display: flex;
    width: 100%;
    background-image: url(images/item4.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 200px;
    height: 60%;
  }
}

@media screen and (min-width: 768px) {
  .background4 {
    background-image: url(images/item5.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 120px;
    margin-top: -130px;
    margin-left: 220px;
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .subtitle0 {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .myemail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .column {
    margin-left: 100px;
    margin-right: -80px;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #344563;
  }
}

@media screen and (min-width: 768px) {
  .second-menu {
    display: flex;
    justify-content: center;
    gap: 50px;
    list-style: none;
    margin-right: 120px;
  }
}

@media screen and (min-width: 768px) {
  .close-img {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .close {
    display: flex;
    position: fixed;
    background-color: #ebf0ee;
    width: 2%;
    height: 3.5%;
    top: 9.3%;
    left: 73.2%;
  }
}

@media screen and (min-width: 768px) {
  .popup-title {
    position: fixed;
  }
}

@media screen and (min-width: 768px) {
  .snap {
    width: 50%;
    position: fixed;
    top: 13%;
    height: 50vh;
  }
}

@media screen and (min-width: 768px) {
  .model-container .model {
    display: none;
    flex-direction: column;
    height: 80vh;
    width: 50%;
    margin-top: 5%;
    margin-left: 24%;
    margin-right: auto;
    padding: 1%;
    background: #fff;
    background-repeat: no-repeat;
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .icon1 {
    position: fixed;
    height: 4%;
    top: 67.5%;
    left: 61.5%;
  }
}

@media screen and (min-width: 768px) {
  .icon2 {
    position: fixed;
    height: 4%;
    left: 72.5%;
    top: 67.5%;
  }
}

@media screen and (min-width: 768px) {
  #email-input.error {
    border: 2px solid #f55800;
    animation: invalid 1s;
  }
}

@media screen and (min-width: 768px) {
  .email-span.error {
    margin-top: 12px;
    display: flex;
    width: 100%;
    border: 2px solid #f55800;
    padding: 2px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}

@media screen and (min-width: 768px) {
  .list2 {
    display: none;
  }
}

.model .visibility {
  display: none;
}

.model-container .visibility {
  display: flex;
}
